opencv-python==4.5.5.62
numpy==1.23.3
scipy==1.7.1
matplotlib==3.5.0
requests==2.26.0
pykalman==0.9.5
acconeer-exptool==3.4.7
acconeer-python-sdk>=3.0.0
picamera2
libcamera
importlib-metadata
packaging